# -------------------------
# Flutter / Dart
# -------------------------
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# VSCode
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
Runner.generated.xcconfig

# -------------------------
# FastAPI / Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# -------------------------
# Docker
# -------------------------
**/dist/
**/out/
**/target/
docker-data/
docker-volume/
*.log

# WSL temp files
.tmp/
*.swp

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db